[project]
	description = Build opencontrails with vagrant
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stefan Andres (stefanandres)
[access "refs/for/refs/*"]
	read = group user/Stefan Andres (stefanandres)
	push = group user/Stefan Andres (stefanandres)
	label-Code-Review = -2..+2 group user/Stefan Andres (stefanandres)
	label-Verified = -1..+1 group user/Stefan Andres (stefanandres)
	rebase = group user/Stefan Andres (stefanandres)
	removeReviewer = group user/Stefan Andres (stefanandres)
	submit = group user/Stefan Andres (stefanandres)
[access "refs/heads/*"]
	read = group user/Stefan Andres (stefanandres)
	create = group user/Stefan Andres (stefanandres)
	push = +force group user/Stefan Andres (stefanandres)
	pushMerge = group user/Stefan Andres (stefanandres)
[access "refs/tags/*"]
	push = +force group user/Stefan Andres (stefanandres)
	pushTag = group user/Stefan Andres (stefanandres)
	pushSignedTag = group user/Stefan Andres (stefanandres)
